*{
    box-sizing: border-box;
}
  
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
}
  
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #161616 0.5;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
}
  
.title {
    color: white;
    font-size: 1.5rem;
    margin: 1.0rem;
}
  
.nav-links {
    height: 100%;
}
  
.nav-links ul {
    display: flex;
    /*margin: 0;
    padding: 0;*/
    flex-wrap: wrap;
    list-style: none;
    margin-right: 20px;
}
  
.nav-links li{
    list-style: none;
    margin: 0 3px;
}
  
.nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    display: block;
    /*padding: 1rem;*/
    font-size: 18px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    
}
  
.nav-links li a.nav-active,
.nav-links li a:hover{
    color: #111;
    background: #fff;
}
  
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
  
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
  
.banner{
    text-align: center;
    display: block;
    color: white;
    background-color: rgb(29, 29, 29);
    background-image: url(./images/dare-artworks-OvUMl7dZlDc-unsplash2.jpg);
    background-size: cover;
    height: 70%;
    padding: 90px;
   
}
  
.banner h1{
    font-size: 50px;
    text-align: center;
    display: block;
    color: white;
    margin-right: 10px;
}

.banner p{
    text-align: center;
    display: block;
    color: white;
}
  
.title h2{
    text-align: center;
    color: rgb(29, 29, 29);
}

.sticky-footer{
    background-color: rgb(26, 26, 26);
    color: white;
    width: 100%;
    height: 130px;
    text-align: center;
    padding-right: 13px;
    padding-bottom: 1px;
    border-top: 8px solid #14531c ;
    position: sticky;
    top: 100%;
}
  
@media (max-width: 800px){
    .main-nav{
      flex-direction: column;
      align-items: flex-start;
     
    }
  
    .toggle-button{
      display: flex;
    }
  
    .nav-links{
      display: none;
      width: 100%;
      background-color: #161616;

    }
  
    .nav-links ul{
      width: 100%;
      flex-direction: column;
    }
  
    .nav-links ul li{
      text-align: center;
    }
  
    .nav-links ul li a{
      padding: .5rem 1rem;
    }
  
    .nav-links.active{
      display: flex;
    }

    .banner{
        background-size: 1450px;
        padding: 55px;
      }
    
      .banner h1{
        justify-content: center;
        font-size: 40px;
      }
    
      .banner p{
        text-align: center;
      }
    
      .title h2{
        font-size: 30px;
      }

  
}
